<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Management</h2>
    <a href="/"><button>Home</button></a>   
  <table class="table table-hover">
    <thead>
      <tr>
      	 <th>Name</th>
      	 <th>Model Year</th>
      	 <th>Type</th>
      	 <!-- <th>Model Name</th> -->
      	 <th>Hours</th>
      	 </tr>
    </thead>
  
   <tbody>
     <% allInventory.forEach(function(x){ %>
    <tr>
      <td><%= x.name %></td>
      <td><%= x.make %></td>
      <td><%= x.type %></td>
      <td><%= hours %></td>
      <td><a href="/book/<%= hours %>/<%= x._id %>/offline"+><button>Pay after Booking</button></a></td>
      <td><a href="/book/<%= hours %>/<%= x._id %>/online"+><button>Pay Online</button></a></td>  
    </tr>
    <% }) %>
   </tbody>
  </table>