<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--label {
 border:1px solid #ccc;
 padding:10px;
 margin:0 0 10px;
 display:block; 
}

label:hover {
 background:#eee;
 cursor:pointer;
}-->
</head>
<body>
<div class="container">
  <h2>Management</h2>
              
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <!-- <th>Price</th> -->
        <!-- <th>Email</th> -->
        <th>Phone</th>
        <!-- <th>Machine Name</th> -->
        <!-- <th>Mode</th> -->
        <!-- <th>Hobli</th> -->
        <th>Aadhar</th>
        <th>Major Crops</th>
        <th>District</th>
        <th>Status</th>
        <!-- <th>Payment Pending</th> -->
        
      </tr>
     <!-- <tr>
      <label><input type="checkbox" />Option 1</label></tr>-->
    </thead>
    <tbody>
      <% allUsers.forEach(function(x){ %>
      <tr>
        <td><%= x.name %></td>
        <!-- <td><%= x.price %></td> -->
        <!-- <td><%= x.email %></td> -->
        <td><%= x.phone  %></td>
        <td><%= x.aadhar %></td>
        <td><%= x.major_crops %></td>
        <td><%= x.district %></td>
        
        <!-- <td><%=  %></td> -->
        <!-- <td><%=  %></td> -->
        <td><%= x.district %></td>
        <% if (x.status == true) { %>
            <td><span style="color:green;">Approved</span></td>
            <% } else { %>
                <td><a href="/user/<%= x._id %>/approve"><button>Approve</button></a></td>  
            <% } %>
        <td><a href="/user/<%= x._id %>/delete"><button>Delete</button></a></td>  
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

</body>
</html>
